# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/localDependency/*

# Local binary dependency is ignored.
!/localDependency/put_local_dependencies_here.txt
